body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    overflow: hidden;
}

#container{
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-color: beige;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.Sign{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -2vw;
}

.signup{
    display: flex;
    justify-content: center;
}

.signupForm{
    margin-left: 3vw;
    margin-top: 0.5vw;
}

.loginForm{
    margin-top: 0.7vw;
}

input{
    width: 80%;
}

.flexProperty{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.welcome{
    text-transform: uppercase;
    font-size: 2vw;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:cornflowerblue;
}